

.RPath_2182_Class {
	fill: transparent;
	stroke: rgba(0,122,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RPath_2182 {
	overflow: visible;
	position: absolute;
	width: 429.366px;
	height: 365.4px;
	left: 539px;
	top: 774.824px;
	transform: matrix(1,0,0,1,0,0);
}
.RRectangle_1341_h_Class {
	fill: url(#Rectangle_1341_h);
	stroke: rgba(0,122,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RRectangle_1341_h {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 1390px;
	top: 136px;
	z-index:999;
}
.RPath_2183_Class {
	fill: transparent;
	stroke: rgba(111,77,253,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RPath_2183 {
	overflow: visible;
	position: absolute;
	width: 432.366px;
	height: 448.228px;
	left: 948.134px;
	top: 1198.725px;
	transform: matrix(1,0,0,1,0,0);
}
.RPath_2184_Class {
	fill: transparent;
	stroke: rgba(111,77,253,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RPath_2184 {
	overflow: visible;
	position: absolute;
	width: 432.366px;
	height: 600.228px;
	left: 948.134px;
	top: 2192.725px;
	transform: matrix(1,0,0,1,0,0);
}
.RGroup_3088_Class {
	position: absolute;
	width: 840px;
	height: 354.099px;
	left: 120px;
	top: 440.725px;
	overflow: visible;
}
.RPath_563_Class {
	fill: rgba(1,18,0,1);
}
.RPath_563 {
	overflow: visible;
	position: absolute;
	width: 839px;
	height: 352.729px;
	left: 1px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.RGroup_2531_Class {
	position: absolute;
	width: 840px;
	height: 354.099px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.RGroup_2525_Class {
	position: absolute;
	width: 840px;
	height: 354.099px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.RPath_505_Class {
	fill: rgba(0,122,255,0.302);
	stroke: rgba(0,122,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RPath_505 {
	overflow: visible;
	position: absolute;
	width: 241.684px;
	height: 57.016px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Q1_2022_Class {
	left: 30.074px;
	top: 7.008px;
	position: absolute;
	overflow: visible;
	width: 118px;
	white-space: nowrap;
	line-height: 50px;
	margin-top: -10px;
	text-align: left;
	font-family: Supply;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,122,255,1);
	text-transform: uppercase;
}
.RGroup_2408_Class {
	position: absolute;
	width: 840px;
	height: 209px;
	left: 0px;
	top: 65.999px;
	overflow: visible;
	padding: 50px;
}
.RRectangle_1152_Class {
	fill: rgba(255,255,255,0);
}
.RRectangle_1152 {
	position: absolute;
	overflow: visible;
	width: 840px;
	height: 208px;
	left: 0px;
	top: 0px;
}
.RGroup_2394_Class {
	position: absolute;
	width: 740px;
	height: 109px;
	left: 50px;
	top: 50px;
	overflow: visible;
	padding: 0px;
}
.Start_design_and_development_o_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 741px;
	height: 109px;
	line-height: 40.79999923706055px;
	margin-top: -10.399999618530273px;
	text-align: left;
	font-family: Supply;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.RGroup_2527_Class {
	position: absolute;
	width: 840px;
	height: 352.501px;
	left: 0px;
	top: 0.499px;
	overflow: visible;
}
.RPath_502_Class {
	fill: transparent;
	stroke: rgba(111,77,253,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RPath_502 {
	overflow: visible;
	position: absolute;
	width: 29.725px;
	height: 29.724px;
	left: 812.275px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.RPath_500_Class {
	fill: transparent;
	stroke: rgba(0,122,255,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RPath_500 {
	overflow: visible;
	position: absolute;
	width: 29.725px;
	height: 29.725px;
	left: 0px;
	top: 323.777px;
	transform: matrix(1,0,0,1,0,0);
}
.RPath_501_Class {
	fill: transparent;
	stroke: rgba(111,77,253,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RPath_501 {
	overflow: visible;
	position: absolute;
	width: 29.725px;
	height: 29.725px;
	left: 811.275px;
	top: 324.776px;
	transform: matrix(1,0,0,1,0,0);
}
.RGroup_3089_Class {
	position: absolute;
	width: 840px;
	height: 236.693px;
	left: 957px;
	top: 1019.795px;
	overflow: visible;
}
.RPath_563_z_Class {
	fill: rgba(1,18,0,1);
}
.RPath_563_z {
	overflow: visible;
	position: absolute;
	width: 839px;
	height: 189.032px;
	left: 1px;
	top: 1.067px;
	transform: matrix(1,0,0,1,0,0);
}
.RGroup_2531__Class {
	position: absolute;
	width: 840px;
	height: 236.693px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.RGroup_2525__Class {
	position: absolute;
	width: 840px;
	height: 190.099px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.RPath_505__Class {
	fill: rgba(0,122,255,0.302);
	stroke: rgba(0,122,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RPath_505_ {
	overflow: visible;
	position: absolute;
	width: 241.685px;
	height: 57.016px;
	left: 0px;
	top: 1.098px;
	transform: matrix(1,0,0,1,0,0);
}
.Q2_2022_Class {
	left: 53.074px;
	top: 11.105px;
	position: absolute;
	overflow: visible;
	width: 118px;
	white-space: nowrap;
	line-height: 50px;
	margin-top: -10px;
	text-align: left;
	font-family: Supply;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,122,255,1);
	text-transform: uppercase;
}
.RGroup_2408__Class {
	position: absolute;
	width: 840px;
	height: 215px;
	left: 0px;
	top: 21.693px;
	overflow: visible;
	padding: 50px;
}
.RRectangle_1152__Class {
	fill: rgba(255,255,255,0);
}
.RRectangle_1152_ {
	position: absolute;
	overflow: visible;
	width: 840px;
	height: 215px;
	left: 0px;
	top: 0px;
}
.RGroup_2394__Class {
	position: absolute;
	width: 740px;
	height: 115px;
	left: 50px;
	top: 50px;
	overflow: visible;
	padding: 0px;
}
.May_-_release_of_NFT_collectio_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 741px;
	height: 115px;
	line-height: 40.79999923706055px;
	margin-top: -10.399999618530273px;
	text-align: left;
	font-family: Supply;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.RGroup_2527__Class {
	position: absolute;
	width: 840px;
	height: 189.6px;
	left: 0px;
	top: 0.25px;
	overflow: visible;
}
.RPath_502__Class {
	fill: transparent;
	stroke: rgba(111,77,253,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RPath_502_ {
	overflow: visible;
	position: absolute;
	width: 29.725px;
	height: 29.724px;
	left: 812.275px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.RPath_500_ba_Class {
	fill: transparent;
	stroke: rgba(0,122,255,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RPath_500_ba {
	overflow: visible;
	position: absolute;
	width: 29.725px;
	height: 29.725px;
	left: 0px;
	top: 160.875px;
	transform: matrix(1,0,0,1,0,0);
}
.RPath_501_bb_Class {
	fill: transparent;
	stroke: rgba(111,77,253,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RPath_501_bb {
	overflow: visible;
	position: absolute;
	width: 29.725px;
	height: 29.725px;
	left: 811.275px;
	top: 161.875px;
	transform: matrix(1,0,0,1,0,0);
}
.RGroup_3090_Class {
	position: absolute;
	width: 842px;
	height: 264px;
	left: 118px;
	top: 1514.725px;
	overflow: visible;
}
.RPath_563_bd_Class {
	fill: rgba(1,18,0,1);
}
.RPath_563_bd {
	overflow: visible;
	position: absolute;
	width: 839px;
	height: 261.729px;
	left: 1px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.RGroup_2531_be_Class {
	position: absolute;
	width: 842px;
	height: 263.999px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.RGroup_2525_bf_Class {
	position: absolute;
	width: 840px;
	height: 261.099px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.RPath_505_bg_Class {
	fill: rgba(0,122,255,0.302);
	stroke: rgba(0,122,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RPath_505_bg {
	overflow: visible;
	position: absolute;
	width: 241.684px;
	height: 57.016px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Q3_2022_Class {
	left: 30.074px;
	top: 7.008px;
	position: absolute;
	overflow: visible;
	width: 118px;
	white-space: nowrap;
	line-height: 50px;
	margin-top: -10px;
	text-align: left;
	font-family: Supply;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,122,255,1);
	text-transform: uppercase;
}
.RGroup_2408_bi_Class {
	position: absolute;
	width: 842px;
	height: 198px;
	left: 0px;
	top: 66px;
	overflow: visible;
	padding: 50px;
}
.RRectangle_1152_bj_Class {
	fill: rgba(255,255,255,0);
}
.RRectangle_1152_bj {
	position: absolute;
	overflow: visible;
	width: 842px;
	height: 195px;
	left: 0px;
	top: 0px;
}
.RGroup_2394_bk_Class {
	position: absolute;
	width: 742px;
	height: 98px;
	left: 50px;
	top: 50px;
	overflow: visible;
	padding: 0px;
}
.July__-_release_of_NFT_collect_Class {
	left: 45px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 698px;
	height: 98px;
	line-height: 40.79999923706055px;
	margin-top: -10.399999618530273px;
	text-align: left;
	font-family: Supply;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.RGroup_2695_Class {
	position: absolute;
	width: 15px;
	height: 86px;
	left: 0px;
	top: 6px;
	overflow: visible;
}
.RPath_121_Class {
	fill: rgba(0,122,255,1);
}
.RPath_121 {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 15px;
	transform: translate(0px, -7828px) matrix(1,0,0,1,0,7899.0005) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.RPath_23_Class {
	fill: rgba(0,122,255,1);
}
.RPath_23 {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 15px;
	transform: translate(0px, -7828px) matrix(1,0,0,1,0,7828.0005) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.RGroup_2527_bp_Class {
	position: absolute;
	width: 840px;
	height: 260.6px;
	left: 0px;
	top: 0.499px;
	overflow: visible;
}
.RPath_502_bq_Class {
	fill: transparent;
	stroke: rgba(111,77,253,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RPath_502_bq {
	overflow: visible;
	position: absolute;
	width: 29.725px;
	height: 29.724px;
	left: 812.275px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.RPath_500_br_Class {
	fill: transparent;
	stroke: rgba(0,122,255,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RPath_500_br {
	overflow: visible;
	position: absolute;
	width: 29.725px;
	height: 29.725px;
	left: 0px;
	top: 231.875px;
	transform: matrix(1,0,0,1,0,0);
}
.RPath_501_bs_Class {
	fill: transparent;
	stroke: rgba(111,77,253,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RPath_501_bs {
	overflow: visible;
	position: absolute;
	width: 29.725px;
	height: 29.725px;
	left: 811.275px;
	top: 232.875px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_233_Class {
	fill: transparent;
	stroke: rgba(111,77,253,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 1 3;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_233 {
	overflow: visible;
	position: absolute;
	width: 695px;
	height: 1px;
	left: 97px;
	top: 166.725px;
	transform: matrix(1,0,0,1,0,0);
}
.RGroup_3091_Class {
	position: absolute;
	width: 840px;
	height: 234px;
	left: 960px;
	top: 1985.082px;
	overflow: visible;
}
.RPath_563_bv_Class {
	fill: rgba(1,18,0,1);
}
.RPath_563_bv {
	overflow: visible;
	position: absolute;
	width: 839px;
	height: 229.729px;
	left: 1px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.RGroup_2531_bw_Class {
	position: absolute;
	width: 840px;
	height: 233.999px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.RGroup_2525_bx_Class {
	position: absolute;
	width: 840px;
	height: 232.099px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.RPath_505_by_Class {
	fill: rgba(0,122,255,0.302);
	stroke: rgba(0,122,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RPath_505_by {
	overflow: visible;
	position: absolute;
	width: 241.685px;
	height: 57.016px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Q4_2022_Class {
	left: 30.074px;
	top: 7.008px;
	position: absolute;
	overflow: visible;
	width: 118px;
	white-space: nowrap;
	line-height: 50px;
	margin-top: -10px;
	text-align: left;
	font-family: Supply;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,122,255,1);
	text-transform: uppercase;
}
.RGroup_2408_b_Class {
	position: absolute;
	width: 840px;
	height: 168px;
	left: 0px;
	top: 66px;
	overflow: visible;
	padding: 50px;
}
.RRectangle_1152_b_Class {
	fill: rgba(255,255,255,0);
}
.RRectangle_1152_b {
	position: absolute;
	overflow: visible;
	width: 840px;
	height: 165px;
	left: 0px;
	top: 0px;
}
.RGroup_2394_b_Class {
	position: absolute;
	width: 740px;
	height: 68px;
	left: 50px;
	top: 50px;
	overflow: visible;
	padding: 0px;
}
.November_-_release_of_NFT_coll_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 741px;
	height: 68px;
	line-height: 40.79999923706055px;
	margin-top: -10.399999618530273px;
	text-align: left;
	font-family: Supply;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.RGroup_2527_b_Class {
	position: absolute;
	width: 840px;
	height: 230.501px;
	left: 0px;
	top: 0.499px;
	overflow: visible;
}
.RPath_502_b_Class {
	fill: transparent;
	stroke: rgba(111,77,253,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RPath_502_b {
	overflow: visible;
	position: absolute;
	width: 29.725px;
	height: 29.724px;
	left: 812.275px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.RPath_500_b_Class {
	fill: transparent;
	stroke: rgba(0,122,255,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RPath_500_b {
	overflow: visible;
	position: absolute;
	width: 29.725px;
	height: 29.725px;
	left: 0px;
	top: 201.777px;
	transform: matrix(1,0,0,1,0,0);
}
.RPath_501_b_Class {
	fill: transparent;
	stroke: rgba(111,77,253,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RPath_501_b {
	overflow: visible;
	position: absolute;
	width: 29.725px;
	height: 29.725px;
	left: 811.275px;
	top: 202.776px;
	transform: matrix(1,0,0,1,0,0);
}
.RGroup_3092_Class {
	position: absolute;
	width: 842px;
	height: 658.099px;
	left: 118px;
	top: 2463.711px;
	overflow: visible;
}
.RPath_563_b_Class {
	fill: rgba(1,18,0,1);
}
.RPath_563_b {
	overflow: visible;
	position: absolute;
	width: 839px;
	height: 656.729px;
	left: 2px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.RGroup_2531_ca_Class {
	position: absolute;
	width: 842px;
	height: 658.099px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.RGroup_2525_cb_Class {
	position: absolute;
	width: 840px;
	height: 658.099px;
	left: 1px;
	top: 0px;
	overflow: visible;
}
.RPath_505_cc_Class {
	fill: rgba(0,122,255,0.302);
	stroke: rgba(0,122,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RPath_505_cc {
	overflow: visible;
	position: absolute;
	width: 241.684px;
	height: 57.016px;
	left: 1px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.n_023_Class {
	left: 31.074px;
	top: 7.008px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	line-height: 50px;
	margin-top: -10px;
	text-align: left;
	font-family: Supply;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,122,255,1);
	text-transform: uppercase;
}
.RGroup_2408_ce_Class {
	position: absolute;
	width: 842px;
	height: 473px;
	left: 0px;
	top: 66px;
	overflow: visible;
	padding: 50px;
}
.RRectangle_1152_cf_Class {
	fill: rgba(255,255,255,0);
}
.RRectangle_1152_cf {
	position: absolute;
	overflow: visible;
	width: 842px;
	height: 592px;
	left: 0px;
	top: 0px;
}
.RGroup_2394_cg_Class {
	position: absolute;
	width: 742px;
	height: 373px;
	left: 50px;
	top: 50px;
	overflow: visible;
	padding: 0px;
}
.Begin_RPG_type_game_developmen_Class {
	left: 45px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 698px;
	height: 373px;
	line-height: 40.79999923706055px;
	margin-top: -10.399999618530273px;
	text-align: left;
	font-family: Supply;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.RGroup_2695_ci_Class {
	position: absolute;
	width: 15px;
	height: 318px;
	left: 0px;
	top: 6px;
	overflow: visible;
}
.RPath_121_cj_Class {
	fill: rgba(0,122,255,1);
}
.RPath_121_cj {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 15px;
	transform: translate(0px, 0px) matrix(1,0,0,1,0,192) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.RPath_2049_Class {
	fill: rgba(0,122,255,1);
}
.RPath_2049 {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 15px;
	transform: translate(0px, 0px) matrix(1,0,0,1,0,303) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.RPath_23_cl_Class {
	fill: rgba(0,122,255,1);
}
.RPath_23_cl {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 15px;
	transform: translate(0px, 0px) matrix(1,0,0,1,0,0) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.RGroup_2527_cm_Class {
	position: absolute;
	width: 840px;
	height: 657.5px;
	left: 1px;
	top: 0.499px;
	overflow: visible;
}
.RPath_502_cn_Class {
	fill: transparent;
	stroke: rgba(111,77,253,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RPath_502_cn {
	overflow: visible;
	position: absolute;
	width: 29.725px;
	height: 29.724px;
	left: 812.275px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.RPath_500_co_Class {
	fill: transparent;
	stroke: rgba(0,122,255,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RPath_500_co {
	overflow: visible;
	position: absolute;
	width: 29.725px;
	height: 29.725px;
	left: 0px;
	top: 628.776px;
	transform: matrix(1,0,0,1,0,0);
}
.RPath_501_cp_Class {
	fill: transparent;
	stroke: rgba(111,77,253,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RPath_501_cp {
	overflow: visible;
	position: absolute;
	width: 29.725px;
	height: 29.725px;
	left: 811.275px;
	top: 629.775px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_233_cq_Class {
	fill: transparent;
	stroke: rgba(111,77,253,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 1 3;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_233_cq {
	overflow: visible;
	position: absolute;
	width: 695px;
	height: 1px;
	left: 98px;
	top: 289.725px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_253_Class {
	fill: transparent;
	stroke: rgba(111,77,253,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 1 3;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_253 {
	overflow: visible;
	position: absolute;
	width: 695px;
	height: 1px;
	left: 98px;
	top: 402.725px;
	transform: matrix(1,0,0,1,0,0);
}
.RPath_2185_Class {
	fill: transparent;
	stroke: rgba(0,122,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RPath_2185 {
	overflow: visible;
	position: absolute;
	width: 429.366px;
	height: 327.4px;
	left: 539px;
	top: 1774.232px;
	transform: matrix(1,0,0,1,0,0);
}
.RPath_503_cu_Class {
	fill: url(#Path_503_cu);
}
.RPath_503_cu {
	overflow: visible;
	position: absolute;
	width: 441.001px;
	height: 471.499px;
	left: 960px;
	top: 146.275px;
	transform: matrix(1,0,0,1,0,0);
}
.RRectangle_1342_cw_Class {
	fill: url(#Rectangle_1342_cw);
	stroke: rgba(0,122,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RRectangle_1342_cw {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 950px;
	top: 2091.132px;
}
.RRectangle_1343_cy_Class {
	fill: url(#Rectangle_1343_cy);
	stroke: rgba(0,122,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RRectangle_1343_cy {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 529px;
	top: 1764.232px;
}
.RRectangle_1344_c_Class {
	fill: url(#Rectangle_1344_c);
	stroke: rgba(0,122,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RRectangle_1344_c {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 950px;
	top: 1128.089px;
}
.RRectangle_1345_c_Class {
	fill: url(#Rectangle_1345_c);
	stroke: rgba(0,122,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RRectangle_1345_c {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 530px;
	top: 784.824px;
}
.RRectangle_1346_Class {
	fill: rgba(0,18,0,1);
	stroke: rgba(111,77,253,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RRectangle_1346 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 950px;
	top: 607.774px;
}
.RRectangle_1347_Class {
	fill: rgba(0,18,0,1);
	stroke: rgba(111,77,253,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RRectangle_1347 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 1370px;
	top: 1208.453px;
}
.RRectangle_1348_Class {
	fill: rgba(0,18,0,1);
	stroke: rgba(111,77,253,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RRectangle_1348 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 1370px;
	top: 2205.182px;
}
.RRectangle_1349_Class {
	fill: rgba(0,18,0,1);
	stroke: rgba(111,77,253,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RRectangle_1349 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 946.866px;
	top: 1635.589px;
}
.RRectangle_1350_Class {
	fill: rgba(0,18,0,1);
	stroke: rgba(111,77,253,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.RRectangle_1350 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 950px;
	top: 2782.761px;
}